{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    {%  with messages = get_flashed_messages() %}
        {% if messages %}
            {%  for message in messages %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="card w-75 mx-auto" style="margin-top: 15px;">
        <div class="card-header">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <form class="form-signin" method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.user_email) }}
                    {{ wtf.form_field(form.user_password) }}
                    {{ form.submit(class='btn btn-primary') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
