{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                {{ topic.topic_title }}
            </div>
            <div class="card-body">
                {{ topic.topic_content }}
            </div>
        </div><br>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.reply_content) }}
                {{ form.submit(class='btn btn-primary btn-sm') }}
            </form>
        </div>
    </div>

    </div>
{% endblock %}
